:root {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 0%);
  --lightGray: hsl(0, 0%, 55%);
  --darkGray: hsl(0, 0%, 41%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
.underline {
  height: 2px;
  background-color: var(--light);
  width: 0;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.1s ease-in-out all;
}

/* ===================== Header ======================== */

header {
  background-image: url('./images/desktop/image-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 120px 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  color: var(--light);
  margin-left: 20px;
}
.nav-item a {
  color: var(--light);
}

.nav-item:hover .underline {
  width: 50%;
}

.header-title {
  color: var(--light);
  border: 2px solid var(--light);
  max-width: 480px;
  padding: 2rem;
  font-size: 50px;
  line-height: 1.2;
  margin: 80px 0;
}
.burger-button {
  background: none;
  border: none;
  display: none;
}

/* ===================== Mobile menu ======================== */

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark);
  min-height: 100vh;
  display: none;
  padding: 30px;
}
.mobile-header {
  padding-bottom: 40px;
}
.mobile-nav-item {
  padding-bottom: 2px;
  margin-bottom: 8px;
}
.mobile-nav-item a {
  color: var(--light);
}
.mobile-nav-list {
  list-style: none;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 0;
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 35px;
  padding-right: 35px;
  background: none;
  border: none;
}

/* ===================== Header responsive ======================== */

@media only screen and (max-width: 820px) {
  header {
    width: 100%;
    padding: 30px;
  }
  .header-title {
    font-size: 35px;
  }
  .nav-list {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .open {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  header {
    background-image: url('./images/mobile/image-hero.jpg');
    width: 100%;
    padding: 30px;
  }
  .header-title {
    font-size: 30px;
  }
}

/* ===================== info Section ======================== */

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 150px;
  margin: 0 auto;
}

.info-graphic {
  background-image: url('./images/desktop/image-interactive.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 500px;
}
.info-text-wrapper {
  padding-left: 80px;
  padding-top: 90px;
  width: 580px;
  height: 400px;
  padding-bottom: 20px;
  align-self: end;
  position: relative;
  left: -130px;
  background-color: white;
}

.info-title {
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 1.75rem;
}
.info-intro {
  color: var(--lightGray);
  line-height: 1.5;
}

/* ===================== Info responsive ======================== */

@media only screen and (max-width: 1000px) {
  .info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 90px;
    height: auto;
  }
  .info-graphic {
    max-width: 800px;
    background-image: url('./images/mobile/image-interactive.jpg');
    margin: 0 auto;
    height: 290px;
    width: 100%;
    background-size: cover;
  }
  .info-text-wrapper {
    left: 0;
    width: 100%;
    text-align: center;
  }
  .info-text-wrapper {
    padding: 20px;
    height: auto;
    max-width: 100%;
  }
  .info-title {
    font-size: 40px;
    padding-top: 60px;
  }
}

/* ===================== Creations Section ======================== */

.creations {
  padding: 30px;
  padding-bottom: 100px;
}

.creations-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}
.creations-title {
  font-size: 33px;
  padding-right: 20px;
}
.creations-link {
  border: 1.8px solid var(--dark);
  border-radius: 2px;
  padding: 0.3rem 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 8px;
  color: var(--dark);
}
.creations-link:hover {
  background: var(--dark);
  color: var(--light);
  transition: 0.1s ease-in-out all;
}

.creations-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.creation-example {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
}
.creation-name {
  color: var(--light);
  padding: 2rem 2rem;
  font-size: 26px;
  line-height: 1.2;
}

.creation-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in-out all;
  left: 0;
  top: 0;
}
.creation-overlay:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.deep-earth {
  background-image: url('./images/desktop/image-deep-earth.jpg');
}
.night-arcade {
  background-image: url('./images/desktop/image-night-arcade.jpg');
}
.football {
  background-image: url('./images/desktop/image-soccer-team.jpg');
}
.the-grid {
  background-image: url('./images/desktop/image-grid.jpg');
}
.from-up-above-vr {
  background-image: url('./images/desktop/image-from-above.jpg');
}
.pocket-borealis {
  background-image: url('./images/desktop/image-pocket-borealis.jpg');
}
.the-curiosity {
  background-image: url('./images/desktop/image-curiosity.jpg');
}
.make-it-fisheye {
  background-image: url('./images/desktop/image-fisheye.jpg');
}

/* ===================== Creations responsive ======================== */

@media only screen and (max-width: 490px) {
  .creations {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .creation-example {
    height: 150px;
    background-size: cover;
    width: 100%;
  }
  .creations-title {
    margin-bottom: 1rem;
  }
  .creations-info {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .deep-earth {
    background-image: url('./images/mobile/image-deep-earth.jpg') !important;
  }
  .night-arcade {
    background-image: url('./images/mobile/image-night-arcade.jpg') !important;
  }
  .football {
    background-image: url('./images/mobile/image-soccer-team.jpg') !important;
  }
  .the-grid {
    background-image: url('./images/mobile/image-grid.jpg') !important;
  }
  .from-up-above-vr {
    background-image: url('./images/mobile/image-from-above.jpg') !important;
  }
  .pocket-borealis {
    background-image: url('./images/mobile/image-pocket-borealis.jpg') !important;
  }
  .the-curiosity {
    background-image: url('./images/mobile/image-curiosity.jpg') !important;
  }
  .make-it-fisheye {
    background-image: url('./images/mobile/image-fisheye.jpg') !important;
  }
}

/* ===================== Footer ======================== */

footer {
  background-color: var(--dark);
  color: white;
  padding: 100px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer-item {
  margin-right: 10px;
}
.footer-item a {
  color: var(--light);
}
.footer-item:hover .underline {
  width: 50%;
}

.rights {
  color: var(--lightGray);
}
.footer-icons-wrapper {
  display: flex;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1.75rem;
}
.social-icon {
  margin-left: 10px;
}
.social-icon img {
  margin-bottom: 10px;
}
.social-icon:hover {
  cursor: pointer;
}
.social-icon:hover .underline {
  width: 50%;
}

/* ===================== Footer responsive ======================== */

@media only screen and (max-width: 800px) {
  footer {
    padding: 25px;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .social-icons {
    justify-content: center;
    align-items: center;
  }
}
